# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore

# プログラムやプラグインのバイナリ
*.exe
*.exe~
*.dll
*.so
*.dylib

# `go test -c` でビルドされたテストバイナリ
*.test

# LiteIDEと組み合わせて使用した場合のgo coverageツールの出力
*.out

# 依存関係のディレクトリ（含める場合は以下のコメントを削除）
# vendor/

# Goワークスペースファイル
go.work

# ログファイル
*.log

# 環境変数
*.env

# tmpフォルダ
tmp/*
